@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(../fonts/Inter_18pt-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(../fonts/Inter_18pt-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(../fonts/Inter_18pt-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(../fonts/Inter_18pt-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #1a1a1a;
  line-height: 1;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Inter,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
summary::-webkit-details-marker {
  display: none
}
summary {
  list-style: none
}
body {
  scrollbar-gutter: stable
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.loaded body {
  opacity: 1
}
.lock-body body {
  position: fixed;
  top: 0;
  width: 100%
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,75rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
html.lenis,
html.lenis body {
  height: auto
}
.lenis.lenis-smooth {
  scroll-behavior: auto!important
}
.lenis.lenis-smooth [data-lenis-prevent] {
  -ms-scroll-chaining: none;
  overscroll-behavior: contain
}
.lenis.lenis-stopped {
  overflow: hidden
}
.lenis.lenis-smooth iframe {
  pointer-events: none
}
html {
  scrollbar-width: none;
  -ms-overflow-style: none
}
body::-webkit-scrollbar {
  display: none
}
body {
  background-color: #1a1a1a;
  color: #d9d9d9
}
[class*=__container] {
  width: 100%;
  margin-inline: auto;
  padding-inline: .9375rem
}
.split-both,
.split-chars,
.split-lines,
.split-words {
  -webkit-font-kerning: none;
  font-kerning: none
}
.txt-24 {
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.3
}
.txt-32 {
  line-height: 1.3
}
.txt-20 {
  font-weight: 500;
  line-height: 1.2
}
.block-clm {
  display: grid;
  gap: 1.875rem
}
.block-clm__left {
  padding-top: 5px
}
.block-clm__title {
  color: #7a7a7d
}
.spoller-item {
  cursor: pointer
}
.spoller-item._active .spoller-body {
  height: var(--height-item)
}
.spoller-item .spoller-body {
  height: 0;
  overflow: hidden;
  transition: height .6s ease
}
.btn-circle {
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  position: relative
}
.btn-circle:before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background-image: url(../img/icons/circle-btn.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: circleBtn 10s linear forwards infinite;
  animation: circleBtn 10s linear forwards infinite
}
.btn-circle__body {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center
}
.btn-circle__body span {
  display: inline-block
}
.btn-circle__txt {
  text-transform: uppercase;
  font-weight: 500
}
.btn-circle__arr {
  position: relative;
  overflow: hidden;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content
}
.btn-circle__arr svg {
  height: auto;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease,-webkit-transform .4s ease
}
.btn-circle__arr .arrow-clone {
  position: absolute;
  top: calc(100% - 1px);
  left: calc(-100% - 1px)
}
@-webkit-keyframes circleBtn {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
@keyframes circleBtn {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
[data-ticker] {
  overflow-x: clip;
  width: -webkit-max-content;
  width: max-content;
  display: flex;
  align-items: center
}
[data-ticker]>* {
  display: flex;
  flex-wrap: nowrap
}
@-webkit-keyframes scroll {
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }
}
@keyframes scroll {
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }
}
@-webkit-keyframes scroll-rev {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}
@keyframes scroll-rev {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}
.header {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.header__logo {
  opacity: 0;
  transition: opacity .3s ease;
  display: block
}
.loaded .header__logo {
  opacity: 1;
  transition-delay: 1.4s
}
.header__logo img,
.header__logo svg {
  width: 100%;
  height: auto
}
.loaded .menu {
  transition-delay: 2.6s
}
.menu__list {
  display: flex;
  align-items: center;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem
}
.menu__link {
  color: #d9d9d9;
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase
}
.lng__link,
.menu__link {
  position: relative
}
.lng__link::before,
.menu__link::before {
  content: "";
  position: absolute;
  bottom: -.25rem;
  left: 0;
  width: 100%;
  height: .0625rem;
  background-color: #d9d9d9;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  transition: -webkit-transform .8s cubic-bezier(.215,.61,.355,1);
  transition: transform .8s cubic-bezier(.215,.61,.355,1);
  transition: transform .8s cubic-bezier(.215,.61,.355,1),-webkit-transform .8s cubic-bezier(.215,.61,.355,1)
}
.lng__list {
  display: flex;
  align-items: center
}
.lng__item {
  position: relative
}
.lng__item:not(:last-child) {
  padding-right: 1.25rem
}
.lng__item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 0;
  right: .5625rem;
  height: 100%;
  width: .0625rem;
  background-color: #d9d9d9
}
.lng__link {
  color: #7a7a7d
}
.lng__link._active {
  color: #d9d9d9
}
.icon-menu {
  display: none
}
.hero__body {
  overflow: hidden;
  min-height: 100svh;
  position: relative
}
.hero__body.loaded::before {
  height: 100vh
}
.hero__body.step-1::before {
  bottom: unset;
  top: 0
}
.hero__body.step-3::before {
  height: 100vh!important
}
.hero__body::before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: #d9d9d9;
  height: 0;
  width: 100vw;
  transition: width .45s ease,height .45s ease
}
.hero__video {
  position: absolute;
  inset: 0;
  z-index: 0;
  opacity: 0
}
.loaded .hero__video {
  opacity: 1;
  transition-delay: .6s
}
.hero__container {
  position: relative;
  z-index: 2
}
.figures {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: grid
}
.figures__left {
  color: #1a1a1a;
  display: flex;
  align-items: flex-end
}
.figures__right {
  position: relative
}
.figures__txt-wr {
  position: relative;
  z-index: 3;
  padding-left: 1.25rem;
  overflow: hidden
}
.figures__txt {
  transition: opacity .2s ease,-webkit-transform .65s ease;
  transition: transform .65s ease,opacity .2s ease;
  transition: transform .65s ease,opacity .2s ease,-webkit-transform .65s ease;
  -webkit-transform: translate(calc(-100% - 1.25rem),0);
  transform: translate(calc(-100% - 1.25rem),0);
  font-weight: 500;
  line-height: .8
}
.loaded .figures__txt {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition-delay: 1.7s
}
.step-3 .figures__txt {
  opacity: 0;
  transition-delay: 0s
}
.figures__txt span {
  font-weight: 400;
  position: relative;
  left: -3%
}
.figures__bottom {
  position: relative
}
.figures__title-wr {
  padding-right: .5rem;
  overflow: hidden;
  transition: -webkit-transform .8s ease;
  transition: transform .8s ease;
  transition: transform .8s ease,-webkit-transform .8s ease
}
.step-3 .figures__title-wr {
  -webkit-transform: translate(0,100%);
  transform: translate(0,100%)
}
.figures__title-body {
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease,-webkit-transform .5s ease;
  -webkit-transform: translate(0,100%);
  transform: translate(0,100%)
}
.loaded .figures__title-body {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition-delay: 1.7s
}
.figures__title {
  margin-bottom: .625rem
}
.figures__subtitle {
  max-width: 33ch
}
.figures__sub-txt-01 {
  position: absolute;
  top: 6.5vw;
  opacity: 0;
  transition: right .45s ease,opacity .2s ease;
  right: 0
}
.loaded .figures__sub-txt-01 {
  opacity: 1;
  right: 5vw;
  transition-delay: 2.6s
}
.figures__sub-txt-02 {
  position: absolute;
  bottom: -2vw;
  opacity: 0;
  transition: right .45s ease,opacity .2s ease;
  right: 0
}
.loaded .figures__sub-txt-02 {
  opacity: 1;
  right: 21.5vw;
  transition-delay: 1.65s
}
.figures__sub-txt-03 {
  margin-bottom: 2vw;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease,-webkit-transform .6s ease;
  -webkit-transform: translate(calc(-25% - 1.25rem),0);
  transform: translate(calc(-25% - 1.25rem),0)
}
.loaded .figures__sub-txt-03 {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition-delay: 1.65s
}
.right-figure__body {
  position: absolute;
  top: 0
}
.right-figure__svg-01 {
  height: auto
}
.right-figure__svg-01 .rect-green {
  transition: -webkit-transform .55s ease;
  transition: transform .55s ease;
  transition: transform .55s ease,-webkit-transform .55s ease;
  -webkit-transform: translate(-60%,0);
  transform: translate(-60%,0)
}
.loaded .right-figure__svg-01 .rect-green {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition-delay: 2.2s
}
.step-3 .right-figure__svg-01 .rect-green {
  -webkit-transform: translate(0,-80%);
  transform: translate(0,-80%);
  transition-delay: 0s
}
.right-figure__svg-01 .rect-prp-02 {
  transition: opacity .3s ease,-webkit-transform .55s ease;
  transition: transform .55s ease,opacity .3s ease;
  transition: transform .55s ease,opacity .3s ease,-webkit-transform .55s ease;
  -webkit-transform: translate(60%,0);
  transform: translate(60%,0)
}
.loaded .right-figure__svg-01 .rect-prp-02 {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition-delay: 2.35s
}
.step-3 .right-figure__svg-01 .rect-prp-02 {
  opacity: 0;
  transition-delay: 0s
}
.right-figure__svg-01 .rect-prp-01 {
  transition: opacity .3s ease,-webkit-transform .55s ease;
  transition: transform .55s ease,opacity .3s ease;
  transition: transform .55s ease,opacity .3s ease,-webkit-transform .55s ease;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%)
}
.loaded .right-figure__svg-01 .rect-prp-01 {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition-delay: 1.95s
}
.step-3 .right-figure__svg-01 .rect-prp-01 {
  opacity: 0;
  transition-delay: 0s
}
.right-figure__svg-02 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto
}
.right-figure__svg-02 .rect-pink-01 {
  transition: -webkit-transform .45s ease;
  transition: transform .45s ease;
  transition: transform .45s ease,-webkit-transform .45s ease;
  -webkit-transform: translate(-100%,0);
  transform: translate(-100%,0)
}
.loaded .right-figure__svg-02 .rect-pink-01 {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition-delay: 1.7s
}
.step-3 .right-figure__svg-02 .rect-pink-01 {
  -webkit-transform: translate(-100%,0);
  transform: translate(-100%,0);
  transition-delay: 0s
}
.bottom-figure__svg {
  position: absolute;
  top: 0;
  height: 100%;
  width: auto
}
.bottom-figure__svg rect {
  transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease,-webkit-transform .25s ease;
  -webkit-transform: translate(0,100%);
  transform: translate(0,100%)
}
.loaded .bottom-figure__svg rect {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition-delay: 1.9s
}
.step-3 .bottom-figure__svg rect {
  -webkit-transform: translate(0,100%);
  transform: translate(0,100%);
  transition-delay: .2s
}
.info-hero__img {
  width: 100%;
  height: auto;
  float: left
}
.info-hero__txt {
  line-height: 1.2
}
.info-hero__txt span .word {
  border-bottom: 1px solid #d9d9d9
}
.info-hero__txt .word {
  opacity: .2
}
.about__block .block-clm__txt.txt-20 {
  color: #aaaaa9;
  max-width: 76%
}
.ticker {
  transition: opacity .3s ease,-webkit-transform .85s ease;
  transition: transform .85s ease,opacity .3s ease;
  transition: transform .85s ease,opacity .3s ease,-webkit-transform .85s ease;
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%)
}
.ticker:not(:last-child) {
  margin-bottom: 1.5vw
}
.ticker.rtl {
  position: relative;
  z-index: 2
}
.ticker__wrapper {
  overflow: hidden
}
.ticker__wrapper._watcher-view {
  overflow: visible
}
.ticker__wrapper._watcher-view .ticker {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.ticker__item {
  position: relative
}
.ticker__item span {
  position: relative
}
.ticker__item span::before {
  content: "";
  position: absolute
}
.ticker__item .img {
  display: inline-block;
  padding-left: 2vw
}
.ticker__item .img img {
  width: auto;
  position: relative;
  -webkit-transform: translate(0,-5%);
  transform: translate(0,-5%)
}
.ticker__item .rect::before {
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  height: 100%;
  width: 110%;
  background-color: rgba(230,7,148,.6);
  border: .125rem solid #e60795
}
.ticker__item .figure-green::before {
  top: 50%;
  right: 0;
  -webkit-transform: translate(33%,-55%);
  transform: translate(33%,-55%);
  background-image: url(../img/icons/figure-01.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 130%;
  aspect-ratio: 1/1
}
.ticker__item .rect-border::before {
  bottom: 0;
  right: 0;
  -webkit-transform: translate(7%,0);
  transform: translate(7%,0);
  width: 55%;
  height: 50%;
  border: .125rem solid #e60795
}
.services__link-body {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content
}
.spollers-mb__summary,
.spollers-s__summary {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1.25rem
}
.spollers-mb__name,
.spollers-mb__position,
.spollers-s__name,
.spollers-s__num {
  transition: color .45s ease
}
.spollers-s__item {
  color: #7a7a7d
}
.spollers-s__item._active .spollers-s__name,
.spollers-s__item._active .spollers-s__num {
  color: #d9d9d9
}
.spollers-s__link {
  flex: 0 0 auto;
  display: grid;
  place-items: center;
  border-radius: 9.375rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transition: color .3s ease,background-color .3s ease,border .3s ease
}
.spollers-s__link:active {
  background-color: rgba(82,254,3,.24)
}
.spollers-s__wrapper {
  line-height: 1.2
}
.team {
  background-color: #d9d9d9
}
.team__block {
  position: sticky;
  top: 0;
  z-index: 0
}
.team__block .block-clm__title,
.team__block .block-clm__txt {
  color: #1a1a1a
}
.team__block .block-clm__body {
  max-width: 100%;
  -webkit-columns: 2 15.625rem;
  -moz-columns: 2 15.625rem;
  columns: 2 15.625rem;
  -webkit-column-gap: 4vw;
  -moz-column-gap: 4vw;
  column-gap: 4vw
}
.team__picture {
  position: relative;
  z-index: 2
}
.team__img {
  display: block;
  height: auto;
  margin-left: auto
}
.members__title {
  color: #7a7a7d
}
.spollers-mb {
  color: #7a7a7d
}
.spollers-mb__item {
  position: relative
}
.spollers-mb__item._active {
  z-index: 10
}
.spollers-mb__item._active .spollers-mb__name,
.spollers-mb__item._active .spollers-mb__position {
  color: #d9d9d9
}
.spollers-mb__item._active .spollers-mb__arr {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.spollers-mb__item._active .spollers-mb__arr path {
  stroke: #d9d9d9
}
.spollers-mb__item._active .spollers-mb__img {
  opacity: 1
}
.spollers-mb__item._active .spollers-mb__img img {
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.spollers-mb__name {
  text-transform: uppercase
}
.spollers-mb__arr {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease,-webkit-transform .5s ease;
  height: auto
}
.spollers-mb__arr path {
  transition: stroke .3s ease
}
.spollers-mb__wrapper {
  line-height: 1.2
}
.spollers-mb__img {
  position: absolute;
  right: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity .45s ease
}
.spollers-mb__img img {
  transition: -webkit-transform .45s ease;
  transition: transform .45s ease;
  transition: transform .45s ease,-webkit-transform .45s ease;
  height: auto
}
.bg-img {
  overflow: hidden;
  position: relative
}
.bg-img__bg {
  -webkit-transform: scale(1.4);
  transform: scale(1.4)
}
.bg-img__logo {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-65%,-50%);
  transform: translate(-65%,-50%);
  height: auto
}
.clients__title {
  color: #7a7a7d
}
.clients__link {
  display: block;
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content
}
.ticker-clients__item {
  cursor: pointer;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: .125rem solid #454546;
  border-bottom: .125rem solid #454546;
  border-left: .0625rem solid #454546;
  border-right: .0625rem solid #454546;
  transition: border .3s ease
}
.ticker-clients__item img {
  max-width: 84%;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.ticker-clients__item._set-sm img {
  max-height: 84%
}
@media (min-width:30.06125em) {
  .spollers-s__item:not(:last-child) {
    border-bottom: .125rem solid #454546
  }
  .spollers-mb__item:not(:last-child) .spollers-mb__summary {
    border-bottom: .125rem solid #454546
  }
  .bg-img__bg {
    aspect-ratio: 1439/684
  }
  .bg-img__logo {
    width: 30%
  }
}
@media (min-width:31.31125em) {
  .team__picture {
    padding-top: 1.875rem;
    padding-bottom: var(--padding-bottom)
  }
}
@media (min-width:37.56125em) {
  .spollers-s__wrapper {
    margin-left: 24vw;
    max-width: 42%
  }
}
@media (min-width:43.81125em) {
  .block-clm {
    grid-template-columns: 22% 1fr
  }
}
@media (min-width:48.06125em) {
  .hero__body.step-1::before {
    width: 35vw
  }
  .hero__body.step-2::before {
    height: 75vh
  }
  .hero__body.step-3::before {
    transition-delay: 0s
  }
  .figures {
    grid-template-columns: 35% 65%;
    grid-template-rows: 75% 25%
  }
  .figures__right {
    display: flex;
    align-items: flex-end
  }
  .figures__txt-wr {
    padding-top: 6.25rem;
    margin-bottom: 13.5vw
  }
  .figures__bottom {
    grid-column: 2/3
  }
  .figures__title-wr {
    padding-top: 3.125rem
  }
  .right-figure__body {
    right: 0
  }
  .right-figure__svg-01 {
    width: 30vw
  }
  .right-figure__svg-02 {
    width: 7.6vw
  }
  .bottom-figure__svg.svg-mb {
    display: none
  }
  .bottom-figure__svg {
    aspect-ratio: 488/200;
    left: 7.3vw
  }
  .services__spollers {
    margin-bottom: 1.25rem
  }
  .spollers-s__link {
    border: .125rem solid #454546
  }
  .spollers-mb__wrapper {
    max-width: 70%
  }
  .spollers-mb__img {
    top: -50%
  }
}
@media (min-width:62.06125em) {
  .block-clm__body {
    max-width: 76%
  }
  .figures__title-wr {
    padding-left: 6.75vw
  }
  .info-hero__txt {
    max-width: 85%
  }
  .services__link-body {
    margin-left: auto
  }
}
@media (min-width:75.06125em) {
  .header {
    mix-blend-mode: difference
  }
  .menu {
    -webkit-transform: translate(0,-200%);
    transform: translate(0,-200%);
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease,-webkit-transform .6s ease
  }
  .loaded .menu {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  .menu__body {
    display: flex;
    align-items: center;
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem
  }
  .spollers-mb__summary,
  .spollers-s__summary {
    padding-left: 2.5rem;
    padding-right: 2.5rem
  }
  .spollers-mb__wrapper {
    padding-left: 2.5rem;
    padding-right: 2.5rem
  }
}
@media (min-width:90.06125em) {
  .pdd-t {
    padding-top: 6.25rem
  }
  .pdd-b {
    padding-bottom: 6.25rem
  }
  .pdd-b-120 {
    padding-bottom: 7.5rem
  }
  .pdd-b-160 {
    padding-bottom: 10rem
  }
  .pdd-t-160 {
    padding-top: 10rem
  }
  .pdd-tb-160 {
    padding-top: 10rem
  }
  .pdd-tb-160 {
    padding-bottom: 10rem
  }
  .pdd-tb {
    padding-top: 6.25rem
  }
  .pdd-tb {
    padding-bottom: 6.25rem
  }
  .block-clm__txt:not(:last-child) {
    margin-bottom: 3.25rem
  }
  .header {
    padding-top: 1.25rem
  }
  .header__logo {
    width: 2.5rem
  }
  .figures__title-wr {
    margin-bottom: 6.25rem
  }
  .sub-txt {
    font-size: 1.5rem
  }
  .info-hero__img {
    margin-right: 1.25rem
  }
  .info-hero__txt {
    padding-left: 2.3125rem
  }
  .ticker__item {
    padding-left: 2.1875rem
  }
  .ticker__item {
    padding-right: 2.1875rem
  }
  .clients__ticker {
    margin-bottom: 11.25rem
  }
}
@media (min-width:120.06125em) {
  .txt-24 {
    font-size: 1.9375rem
  }
  .txt-32 {
    font-size: 2.625rem
  }
  .txt-20 {
    font-size: 1.625rem
  }
  .btn-circle {
    width: 27.375rem
  }
  .btn-circle__body {
    gap: 1.625rem
  }
  .btn-circle__txt {
    font-size: 1.9375rem
  }
  .btn-circle__arr svg {
    width: 1.375rem
  }
  .figures__txt {
    font-size: 7.3125rem
  }
  .figures__txt span {
    font-size: 5rem
  }
  .figures__title {
    font-size: 1.9375rem
  }
  .figures__subtitle {
    font-size: 1.125rem
  }
  .info-hero__img {
    max-width: 19.5rem
  }
  .info-hero__txt {
    padding-top: 7.5rem
  }
  .info-hero__txt {
    font-size: 3.875rem
  }
  .ticker__item {
    font-size: 11.25rem
  }
  .ticker__item .img img {
    height: 12.1875rem
  }
  .spollers-mb__summary,
  .spollers-s__summary {
    padding-top: 2.75rem
  }
  .spollers-mb__summary,
  .spollers-s__summary {
    padding-bottom: 2.75rem
  }
  .spollers-s__num {
    font-size: 1.625rem
  }
  .spollers-s__name {
    font-size: 5.8125rem
  }
  .spollers-s__link {
    padding-left: 2.8125rem
  }
  .spollers-s__link {
    padding-right: 2.8125rem
  }
  .spollers-s__link {
    min-height: 4.0625rem
  }
  .spollers-s__link {
    font-size: 1.9375rem
  }
  .spollers-s__wrapper {
    font-size: 1.9375rem
  }
  .spollers-s__wrapper {
    padding-bottom: 2.75rem
  }
  .team__img {
    width: 48.75rem
  }
  .members__title {
    margin-bottom: 8.125rem
  }
  .spollers-mb__position {
    font-size: 1.9375rem
  }
  .spollers-mb__name {
    font-size: 3.375rem
  }
  .spollers-mb__arr {
    width: 2.875rem
  }
  .spollers-mb__wrapper {
    font-size: 1.9375rem
  }
  .spollers-mb__wrapper {
    padding-top: 1.625rem
  }
  .spollers-mb__img {
    right: 8.5rem
  }
  .spollers-mb__img img {
    max-width: 20rem
  }
  .clients__title {
    margin-bottom: 8.125rem
  }
  .clients__link .btn-circle__txt {
    font-size: 3.375rem
  }
  .clients__link .btn-circle__arr svg {
    width: 2rem
  }
  .ticker-clients__item {
    width: 24.375rem
  }
}
@media (min-width:120em) {
  [class*=__container] {
    max-width: 105.625rem
  }
}
@media (max-width:90.06125em) {
  [class*=__container] {
    max-width: 81.25rem
  }
}
@media (max-width:75.06125em) {
  .menu {
    opacity: 0;
    transition: opacity .3s ease
  }
  .loaded .menu {
    opacity: 1
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 3.125rem .9375rem .9375rem 1.875rem;
    transition: left .65s;
    background-color: #1a1a1a
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    flex-direction: column
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #d9d9d9
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
}
@media (max-width:75.06125em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:62.06125em) {
  .figures__title-wr {
    padding-left: .9375rem
  }
  .services__link-body {
    margin-inline: auto
  }
}
@media (max-width:48.06125em) {
  .hero__body.step-1::before {
    width: 40vw
  }
  .hero__body.step-2::before {
    height: 40vh
  }
  .hero__body.step-3::before {
    transition-delay: .3s
  }
  .figures {
    grid-template-columns: 40% 60%;
    grid-template-rows: 40% 50% 10%
  }
  .step-3 .figures {
    transition: grid-template-rows .45s ease .3s;
    transition: grid-template-rows .45s ease .3s,-ms-grid-rows .45s ease .3s;
    grid-template-rows: 80% 20% 0
  }
  .figures__txt-wr {
    grid-row: 2/3;
    grid-column: span 2;
    justify-self: center;
    padding-top: 3.125rem
  }
  .figures__bottom {
    grid-row: 3/4;
    grid-column: span 2
  }
  .figures__title-wr {
    transition-delay: .3s
  }
  .sub-txt {
    display: none
  }
  .right-figure__body {
    left: 0
  }
  .right-figure__svg-01 {
    width: 100%
  }
  .right-figure__svg-02 {
    width: 18vw;
    grid-row: 2/3
  }
  .bottom-figure__svg.svg-pc {
    display: none
  }
  .bottom-figure__svg {
    left: 17.5vw
  }
  .services__spollers {
    margin-bottom: 1.875rem
  }
  .spollers-s__link {
    border: .0625rem solid #454546
  }
  .spollers-mb__img {
    top: 100%
  }
}
@media (max-width:37.56125em) {
  .team__picture {
    margin-inline: -.9375rem
  }
}
@media (max-width:31.31125em) {
  .team__picture {
    padding-top: 5rem;
    padding-bottom: calc(var(--padding-bottom) + 3.125rem)
  }
}
@media (max-width:30.06125em) {
  .pdd-t {
    padding-top: 3.75rem
  }
  .pdd-b {
    padding-bottom: 3.75rem
  }
  .pdd-b-120 {
    padding-bottom: 5rem
  }
  .pdd-b-160 {
    padding-bottom: 5rem
  }
  .pdd-t-160 {
    padding-top: 5rem
  }
  .pdd-tb-160 {
    padding-top: 5rem
  }
  .pdd-tb-160 {
    padding-bottom: 5rem
  }
  .pdd-tb {
    padding-top: 3.75rem
  }
  .pdd-tb {
    padding-bottom: 3.75rem
  }
  .txt-24 {
    font-size: .8125rem
  }
  .txt-32 {
    font-size: 1.25rem
  }
  .txt-20 {
    font-size: .9375rem
  }
  .block-clm__txt:not(:last-child) {
    margin-bottom: 1rem
  }
  .btn-circle {
    width: 9.0625rem
  }
  .btn-circle__body {
    gap: .3125rem
  }
  .btn-circle__txt {
    font-size: .8125rem
  }
  .btn-circle__arr svg {
    width: .625rem
  }
  .header {
    padding-top: 1rem
  }
  .header__logo {
    width: 1.4375rem
  }
  .info-hero__img {
    margin-right: .625rem
  }
  .info-hero__img {
    max-width: 6.875rem
  }
  .info-hero__txt {
    padding-top: 2.5rem
  }
  .ticker__item {
    font-size: 2.9375rem
  }
  .ticker__item {
    padding-left: .9375rem
  }
  .ticker__item {
    padding-right: .9375rem
  }
  .ticker__item .img img {
    height: 3.125rem
  }
  .spollers-mb__summary,
  .spollers-s__summary {
    padding-top: 1rem
  }
  .spollers-mb__summary,
  .spollers-s__summary {
    padding-bottom: 1rem
  }
  .spollers-s__item:not(:last-child) {
    border-bottom: .0625rem solid #454546
  }
  .spollers-s__num {
    font-size: .5625rem
  }
  .spollers-s__name {
    font-size: 1.5625rem
  }
  .spollers-s__link {
    padding-left: 1.25rem
  }
  .spollers-s__link {
    padding-right: 1.25rem
  }
  .spollers-s__link {
    min-height: 1.8125rem
  }
  .spollers-s__link {
    font-size: .875rem
  }
  .spollers-s__wrapper {
    font-size: .875rem
  }
  .spollers-s__wrapper {
    padding-bottom: 1rem
  }
  .members__title {
    margin-bottom: .625rem
  }
  .spollers-mb__item:not(:last-child) .spollers-mb__summary {
    border-bottom: .0625rem solid #454546
  }
  .spollers-mb__position {
    font-size: .8125rem
  }
  .spollers-mb__name {
    font-size: 1.25rem
  }
  .spollers-mb__arr {
    width: 1.125rem
  }
  .spollers-mb__wrapper {
    font-size: .9375rem
  }
  .spollers-mb__wrapper {
    padding-top: 1rem
  }
  .spollers-mb__img {
    right: 2.1875rem
  }
  .spollers-mb__img img {
    max-width: 7.1875rem
  }
  .bg-img__bg {
    aspect-ratio: 385/446
  }
  .bg-img__logo {
    width: 49%
  }
  .clients__title {
    margin-bottom: 1.875rem
  }
  .clients__ticker {
    margin-bottom: 3.75rem
  }
  .clients__link .btn-circle__txt {
    font-size: 1.25rem
  }
  .clients__link .btn-circle__arr svg {
    width: .8125rem
  }
}
@media (max-width:24.43625em) {
  .figures__txt {
    font-size: 2.1875rem
  }
  .figures__txt span {
    font-size: 1.5625rem
  }
  .figures__title-wr {
    margin-bottom: 1.875rem
  }
  .figures__title {
    font-size: .625rem
  }
  .figures__subtitle {
    font-size: .4375rem
  }
  .info-hero__txt {
    font-size: 1.875rem
  }
  .ticker-clients__item {
    width: 12.125rem
  }
}
@media (max-width:23.81125em) {
  .figures__txt-wr {
    padding-top: 1.875rem
  }
}
@media (min-width:90.06125em)and (max-width:120em) {
  [class*=__container] {
    max-width: clamp(81.25rem ,7.9255302493rem + 81.4162247923vw ,105.625rem)
  }
}
@media (min-width:30.06125em)and (max-width:90.06125em) {
  .pdd-t {
    padding-top: clamp(3.75rem ,2.4974479167rem + 4.1666666667vw ,6.25rem)
  }
  .pdd-b {
    padding-bottom: clamp(3.75rem ,2.4974479167rem + 4.1666666667vw ,6.25rem)
  }
  .pdd-b-120 {
    padding-bottom: clamp(5rem ,3.7474479167rem + 4.1666666667vw ,7.5rem)
  }
  .pdd-b-160 {
    padding-bottom: clamp(5rem ,2.4948958333rem + 8.3333333333vw ,10rem)
  }
  .pdd-t-160 {
    padding-top: clamp(5rem ,2.4948958333rem + 8.3333333333vw ,10rem)
  }
  .pdd-tb-160 {
    padding-top: clamp(5rem ,2.4948958333rem + 8.3333333333vw ,10rem)
  }
  .pdd-tb-160 {
    padding-bottom: clamp(5rem ,2.4948958333rem + 8.3333333333vw ,10rem)
  }
  .pdd-tb {
    padding-top: clamp(3.75rem ,2.4974479167rem + 4.1666666667vw ,6.25rem)
  }
  .pdd-tb {
    padding-bottom: clamp(3.75rem ,2.4974479167rem + 4.1666666667vw ,6.25rem)
  }
  .block-clm__txt:not(:last-child) {
    margin-bottom: clamp(1rem ,-.127296875rem + 3.75vw ,3.25rem)
  }
  .header {
    padding-top: clamp(1rem ,.8747447917rem + .4166666667vw ,1.25rem)
  }
  .header__logo {
    width: clamp(1.4375rem ,.9051653646rem + 1.7708333333vw ,2.5rem)
  }
  .info-hero__img {
    margin-right: clamp(.625rem ,.3118619792rem + 1.0416666667vw ,1.25rem)
  }
  .ticker__item {
    padding-left: clamp(.9375rem ,.3112239583rem + 2.0833333333vw ,2.1875rem)
  }
  .ticker__item {
    padding-right: clamp(.9375rem ,.3112239583rem + 2.0833333333vw ,2.1875rem)
  }
  .clients__ticker {
    margin-bottom: clamp(3.75rem ,-.00765625rem + 12.5vw ,11.25rem)
  }
}
@media (min-width:30.06125em)and (max-width:120.06125em) {
  .txt-24 {
    font-size: clamp(.8125rem ,.436734375rem + 1.25vw ,1.9375rem)
  }
  .txt-32 {
    font-size: clamp(1.25rem ,.7907309028rem + 1.5277777778vw ,2.625rem)
  }
  .txt-20 {
    font-size: clamp(.9375rem ,.7078654514rem + .7638888889vw ,1.625rem)
  }
  .btn-circle {
    width: clamp(9.0625rem ,2.9458706597rem + 20.3472222222vw ,27.375rem)
  }
  .btn-circle__body {
    gap: clamp(.3125rem ,-.1258932292rem + 1.4583333333vw ,1.625rem)
  }
  .btn-circle__txt {
    font-size: clamp(.8125rem ,.436734375rem + 1.25vw ,1.9375rem)
  }
  .btn-circle__arr svg {
    width: clamp(.625rem ,.3744895833rem + .8333333333vw ,1.375rem)
  }
  .info-hero__img {
    max-width: clamp(6.875rem ,2.6580746528rem + 14.0277777778vw ,19.5rem)
  }
  .info-hero__txt {
    padding-top: clamp(2.5rem ,.8299305556rem + 5.5555555556vw ,7.5rem)
  }
  .ticker__item {
    font-size: clamp(2.9375rem ,.1610095486rem + 9.2361111111vw ,11.25rem)
  }
  .ticker__item .img img {
    height: clamp(3.125rem ,.0979991319rem + 10.0694444444vw ,12.1875rem)
  }
  .spollers-mb__summary,
  .spollers-s__summary {
    padding-top: clamp(1rem ,.4154756944rem + 1.9444444444vw ,2.75rem)
  }
  .spollers-mb__summary,
  .spollers-s__summary {
    padding-bottom: clamp(1rem ,.4154756944rem + 1.9444444444vw ,2.75rem)
  }
  .spollers-s__num {
    font-size: clamp(.5625rem ,.2076102431rem + 1.1805555556vw ,1.625rem)
  }
  .spollers-s__name {
    font-size: clamp(1.5625rem ,.1429409722rem + 4.7222222222vw ,5.8125rem)
  }
  .spollers-s__link {
    padding-left: clamp(1.25rem ,.7281032986rem + 1.7361111111vw ,2.8125rem)
  }
  .spollers-s__link {
    padding-right: clamp(1.25rem ,.7281032986rem + 1.7361111111vw ,2.8125rem)
  }
  .spollers-s__link {
    min-height: clamp(1.8125rem ,1.06096875rem + 2.5vw ,4.0625rem)
  }
  .spollers-s__link {
    font-size: clamp(.875rem ,.5201102431rem + 1.1805555556vw ,1.9375rem)
  }
  .spollers-s__wrapper {
    font-size: clamp(.875rem ,.5201102431rem + 1.1805555556vw ,1.9375rem)
  }
  .spollers-s__wrapper {
    padding-bottom: clamp(1rem ,.4154756944rem + 1.9444444444vw ,2.75rem)
  }
  .members__title {
    margin-bottom: clamp(.625rem ,-1.8801041667rem + 8.3333333333vw ,8.125rem)
  }
  .spollers-mb__position {
    font-size: clamp(.8125rem ,.436734375rem + 1.25vw ,1.9375rem)
  }
  .spollers-mb__name {
    font-size: clamp(1.25rem ,.5402204861rem + 2.3611111111vw ,3.375rem)
  }
  .spollers-mb__arr {
    width: clamp(1.125rem ,.5404756944rem + 1.9444444444vw ,2.875rem)
  }
  .spollers-mb__wrapper {
    font-size: clamp(.9375rem ,.6034861111rem + 1.1111111111vw ,1.9375rem)
  }
  .spollers-mb__wrapper {
    padding-top: clamp(1rem ,.7912413194rem + .6944444444vw ,1.625rem)
  }
  .spollers-mb__img {
    right: clamp(2.1875rem ,.0790373264rem + 7.0138888889vw ,8.5rem)
  }
  .spollers-mb__img img {
    max-width: clamp(7.1875rem ,2.9079470486rem + 14.2361111111vw ,20rem)
  }
  .clients__title {
    margin-bottom: clamp(1.875rem ,-.2125868056rem + 6.9444444444vw ,8.125rem)
  }
  .clients__link .btn-circle__txt {
    font-size: clamp(1.25rem ,.5402204861rem + 2.3611111111vw ,3.375rem)
  }
  .clients__link .btn-circle__arr svg {
    width: clamp(.8125rem ,.4158585069rem + 1.3194444444vw ,2rem)
  }
}
@media (min-width:24.43625em)and (max-width:120.06125em) {
  .figures__txt {
    font-size: clamp(2.1875rem ,.8778447712rem + 5.3594771242vw ,7.3125rem)
  }
  .figures__txt span {
    font-size: clamp(1.5625rem ,.6840727124rem + 3.5947712418vw ,5rem)
  }
  .figures__title {
    font-size: clamp(.625rem ,.2896004902rem + 1.3725490196vw ,1.9375rem)
  }
  .figures__subtitle {
    font-size: clamp(.4375rem ,.2618145425rem + .7189542484vw ,1.125rem)
  }
  .info-hero__txt {
    font-size: clamp(1.875rem ,1.3639150327rem + 2.091503268vw ,3.875rem)
  }
  .ticker-clients__item {
    width: clamp(12.125rem ,8.9946045752rem + 12.8104575163vw ,24.375rem)
  }
}
@media (min-width:24.43625em)and (max-width:90.06125em) {
  .figures__title-wr {
    margin-bottom: clamp(1.875rem ,.2459166667rem + 6.6666666667vw ,6.25rem)
  }
}
@media (min-width:48.06125em)and (max-width:90.06125em) {
  .sub-txt {
    font-size: clamp(1.25rem ,.963921131rem + .5952380952vw ,1.5rem)
  }
  .info-hero__txt {
    padding-left: clamp(.0000000625rem ,-2.6462294047rem + 5.5059522321vw ,2.3125rem)
  }
}
@media (min-width:31.31125em)and (max-width:120.06125em) {
  .team__img {
    width: clamp(31.25rem ,25.0759507042rem + 19.7183098592vw ,48.75rem)
  }
}
@media (any-hover:hover) {
  .btn-circle:hover .btn-circle__arr svg {
    -webkit-transform: translate(100%,-100%);
    transform: translate(100%,-100%)
  }
  .lng__link:hover::before,
  .menu__link:hover::before {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%
  }
  .spollers-s__summary:hover .spollers-s__name,
  .spollers-s__summary:hover .spollers-s__num {
    color: #d9d9d9
  }
  .spollers-s__link:hover {
    border-color: #51ff00;
    color: #d9d9d9
  }
  .spollers-mb__summary:hover .spollers-mb__name,
  .spollers-mb__summary:hover .spollers-mb__position {
    color: #d9d9d9
  }
  .spollers-mb__summary:hover .spollers-mb__arr {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
  }
  .spollers-mb__summary:hover .spollers-mb__arr path {
    stroke: #d9d9d9
  }
  .clients__link:hover .btn-circle__arr svg {
    -webkit-transform: translate(100%,-100%);
    transform: translate(100%,-100%)
  }
  .ticker-clients__item:hover {
    border-color: #51ff00
  }
}