@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(../fonts/Inter_18pt-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(../fonts/Inter_18pt-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(../fonts/Inter_18pt-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(../fonts/Inter_18pt-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #1a1a1a;
  line-height: 1;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Inter,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
summary::-webkit-details-marker {
  display: none
}
summary {
  list-style: none
}
body {
  scrollbar-gutter: stable
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.loaded body {
  opacity: 1
}
.lock-body body {
  position: fixed;
  top: 0;
  width: 100%
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,73.125rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
html.lenis,
html.lenis body {
  height: auto
}
.lenis.lenis-smooth {
  scroll-behavior: auto!important
}
.lenis.lenis-smooth [data-lenis-prevent] {
  -ms-scroll-chaining: none;
  overscroll-behavior: contain
}
.lenis.lenis-stopped {
  overflow: hidden
}
.lenis.lenis-smooth iframe {
  pointer-events: none
}
html {
  scrollbar-width: none;
  -ms-overflow-style: none
}
body::-webkit-scrollbar {
  display: none
}
body {
  background-color: #1a1a1a
}
[class*=__container] {
  width: 100%;
  margin-inline: auto;
  padding-inline: .9375rem
}
.split-both,
.split-chars,
.split-lines,
.split-words {
  -webkit-font-kerning: none;
  font-kerning: none
}
.header {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.header__logo {
  opacity: 0;
  transition: opacity .3s ease;
  display: block
}
.loaded .header__logo {
  opacity: 1;
  transition-delay: 1.4s
}
.header__logo img,
.header__logo svg {
  width: 100%;
  height: auto
}
.loaded .menu {
  transition-delay: 2.6s
}
.menu__list {
  display: flex;
  align-items: center;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem
}
.menu__link {
  color: #d9d9d9;
  font-weight: 500;
  font-size: 2rem;
  text-transform: uppercase
}
.lng__link,
.menu__link {
  position: relative
}
.lng__link::before,
.menu__link::before {
  content: "";
  position: absolute;
  bottom: -.25rem;
  left: 0;
  width: 100%;
  height: .0625rem;
  background-color: #d9d9d9;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  transition: -webkit-transform .8s cubic-bezier(.215,.61,.355,1);
  transition: transform .8s cubic-bezier(.215,.61,.355,1);
  transition: transform .8s cubic-bezier(.215,.61,.355,1),-webkit-transform .8s cubic-bezier(.215,.61,.355,1)
}
.lng__list {
  display: flex;
  align-items: center
}
.lng__item {
  position: relative
}
.lng__item:not(:last-child) {
  padding-right: 1.25rem
}
.lng__item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 0;
  right: .5625rem;
  height: 100%;
  width: .0625rem;
  background-color: #d9d9d9
}
.lng__link {
  color: #7a7a7d
}
.lng__link._active {
  color: #d9d9d9
}
.icon-menu {
  display: none
}
section {
  color: #d9d9d9
}
.hero {
  overflow: hidden;
  min-height: 100svh;
  position: relative
}
.hero.loaded::before {
  height: 100vh
}
.hero.step-1::before {
  bottom: unset;
  top: 0
}
.hero.step-3::before {
  height: 100vh
}
.hero::before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: #d9d9d9;
  height: 0;
  width: 100vw;
  transition: width .45s ease,height .45s ease
}
.hero__video {
  position: absolute;
  inset: 0;
  z-index: 0;
  opacity: 0
}
.loaded .hero__video {
  opacity: 1;
  transition-delay: .6s
}
.hero__container {
  position: relative;
  z-index: 2
}
.figures {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: grid
}
.figures__left {
  color: #1a1a1a;
  display: flex;
  align-items: flex-end
}
.figures__right {
  position: relative
}
.figures__txt-wr {
  position: relative;
  z-index: 3;
  padding-left: 1.25rem;
  overflow: hidden
}
.figures__txt {
  transition: opacity .2s ease,-webkit-transform .65s ease;
  transition: transform .65s ease,opacity .2s ease;
  transition: transform .65s ease,opacity .2s ease,-webkit-transform .65s ease;
  -webkit-transform: translate(calc(-100% - 1.25rem),0);
  transform: translate(calc(-100% - 1.25rem),0);
  font-weight: 500;
  line-height: .8
}
.loaded .figures__txt {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition-delay: 1.7s
}
.step-3 .figures__txt {
  opacity: 0;
  transition-delay: 0s
}
.figures__txt span {
  font-weight: 400;
  position: relative;
  left: -3%
}
.figures__bottom {
  position: relative
}
.figures__title-wr {
  padding-top: 6.25rem;
  padding-right: .5rem;
  overflow: hidden;
  transition: -webkit-transform .8s ease;
  transition: transform .8s ease;
  transition: transform .8s ease,-webkit-transform .8s ease
}
.step-3 .figures__title-wr {
  -webkit-transform: translate(0,100%);
  transform: translate(0,100%)
}
.figures__title-body {
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease,-webkit-transform .5s ease;
  -webkit-transform: translate(0,100%);
  transform: translate(0,100%)
}
.loaded .figures__title-body {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition-delay: 1.7s
}
.figures__title {
  margin-bottom: .625rem
}
.figures__subtitle {
  max-width: 33ch
}
.figures__sub-txt-01 {
  position: absolute;
  top: 6.5vw;
  opacity: 0;
  transition: right .45s ease,opacity .2s ease;
  right: 0
}
.loaded .figures__sub-txt-01 {
  opacity: 1;
  right: 5vw;
  transition-delay: 2.6s
}
.figures__sub-txt-02 {
  position: absolute;
  bottom: -2vw;
  opacity: 0;
  transition: right .45s ease,opacity .2s ease;
  right: 0
}
.loaded .figures__sub-txt-02 {
  opacity: 1;
  right: 21.5vw;
  transition-delay: 1.65s
}
.figures__sub-txt-03 {
  margin-bottom: 2vw;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease,-webkit-transform .6s ease;
  -webkit-transform: translate(calc(-25% - 1.25rem),0);
  transform: translate(calc(-25% - 1.25rem),0)
}
.loaded .figures__sub-txt-03 {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition-delay: 1.65s
}
.right-figure__body {
  position: absolute;
  top: 0
}
.right-figure__svg-01 {
  height: auto
}
.right-figure__svg-01 .rect-green {
  transition: -webkit-transform .55s ease;
  transition: transform .55s ease;
  transition: transform .55s ease,-webkit-transform .55s ease;
  -webkit-transform: translate(-60%,0);
  transform: translate(-60%,0)
}
.loaded .right-figure__svg-01 .rect-green {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition-delay: 2.2s
}
.step-3 .right-figure__svg-01 .rect-green {
  -webkit-transform: translate(0,-80%);
  transform: translate(0,-80%);
  transition-delay: 0s
}
.right-figure__svg-01 .rect-prp-02 {
  transition: opacity .3s ease,-webkit-transform .55s ease;
  transition: transform .55s ease,opacity .3s ease;
  transition: transform .55s ease,opacity .3s ease,-webkit-transform .55s ease;
  -webkit-transform: translate(60%,0);
  transform: translate(60%,0)
}
.loaded .right-figure__svg-01 .rect-prp-02 {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition-delay: 2.35s
}
.step-3 .right-figure__svg-01 .rect-prp-02 {
  opacity: 0;
  transition-delay: 0s
}
.right-figure__svg-01 .rect-prp-01 {
  transition: opacity .3s ease,-webkit-transform .55s ease;
  transition: transform .55s ease,opacity .3s ease;
  transition: transform .55s ease,opacity .3s ease,-webkit-transform .55s ease;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%)
}
.loaded .right-figure__svg-01 .rect-prp-01 {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition-delay: 1.95s
}
.step-3 .right-figure__svg-01 .rect-prp-01 {
  opacity: 0;
  transition-delay: 0s
}
.right-figure__svg-02 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto
}
.right-figure__svg-02 .rect-pink-01 {
  transition: -webkit-transform .45s ease;
  transition: transform .45s ease;
  transition: transform .45s ease,-webkit-transform .45s ease;
  -webkit-transform: translate(-100%,0);
  transform: translate(-100%,0)
}
.loaded .right-figure__svg-02 .rect-pink-01 {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition-delay: 1.7s
}
.step-3 .right-figure__svg-02 .rect-pink-01 {
  -webkit-transform: translate(-100%,0);
  transform: translate(-100%,0);
  transition-delay: 0s
}
.bottom-figure__svg {
  position: absolute;
  top: 0;
  height: 100%;
  width: auto
}
.bottom-figure__svg rect {
  transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease,-webkit-transform .25s ease;
  -webkit-transform: translate(0,100%);
  transform: translate(0,100%)
}
.loaded .bottom-figure__svg rect {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition-delay: 1.9s
}
.step-3 .bottom-figure__svg rect {
  -webkit-transform: translate(0,100%);
  transform: translate(0,100%);
  transition-delay: .2s
}
@media (min-width:48.06125em) {
  .hero.step-1::before {
    width: 35vw
  }
  .hero.step-2::before {
    height: 75vh
  }
  .hero.step-3::before {
    transition-delay: 0s
  }
  .figures {
    grid-template-columns: 35% 65%;
    grid-template-rows: 75% 25%
  }
  .figures__right {
    display: flex;
    align-items: flex-end
  }
  .figures__txt-wr {
    padding-top: 6.25rem;
    margin-bottom: 13.5vw
  }
  .figures__bottom {
    grid-column: 2/3
  }
  .right-figure__body {
    right: 0
  }
  .right-figure__svg-01 {
    width: 30vw
  }
  .right-figure__svg-02 {
    width: 7.6vw
  }
  .bottom-figure__svg.svg-mb {
    display: none
  }
  .bottom-figure__svg {
    aspect-ratio: 488/200;
    left: 7.3vw
  }
}
@media (min-width:62.06125em) {
  .figures__title-wr {
    padding-left: 6.75vw
  }
}
@media (min-width:75.06125em) {
  .menu {
    -webkit-transform: translate(0,-200%);
    transform: translate(0,-200%);
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease,-webkit-transform .6s ease
  }
  .loaded .menu {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  .menu__body {
    display: flex;
    align-items: center;
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem
  }
}
@media (min-width:90.06125em) {
  .header {
    padding-top: 1.25rem
  }
  .header__logo {
    width: 2.5rem
  }
  .figures__title-wr {
    margin-bottom: 6.25rem
  }
  .sub-txt {
    font-size: 1.5rem
  }
}
@media (min-width:120.06125em) {
  .figures__txt {
    font-size: 7.3125rem
  }
  .figures__txt span {
    font-size: 5rem
  }
  .figures__title {
    font-size: 1.9375rem
  }
  .figures__subtitle {
    font-size: 1.125rem
  }
}
@media (min-width:120em) {
  [class*=__container] {
    max-width: 105.625rem
  }
}
@media (max-width:90.06125em) {
  [class*=__container] {
    max-width: 81.25rem
  }
}
@media (max-width:75.06125em) {
  .menu {
    opacity: 0;
    transition: opacity .3s ease
  }
  .loaded .menu {
    opacity: 1
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 3.125rem .9375rem .9375rem 1.875rem;
    transition: left .65s;
    background-color: #1a1a1a
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    flex-direction: column
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #d9d9d9
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
}
@media (max-width:75.06125em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:62.06125em) {
  .figures__title-wr {
    padding-left: .9375rem
  }
}
@media (max-width:48.06125em) {
  .hero.step-1::before {
    width: 40vw
  }
  .hero.step-2::before {
    height: 40vh
  }
  .hero.step-3::before {
    transition-delay: .3s
  }
  .figures {
    grid-template-columns: 40% 60%;
    grid-template-rows: 40% 50% 10%
  }
  .step-3 .figures {
    transition: grid-template-rows .45s ease .3s;
    transition: grid-template-rows .45s ease .3s,-ms-grid-rows .45s ease .3s;
    grid-template-rows: 80% 20% 0
  }
  .figures__txt-wr {
    grid-row: 2/3;
    grid-column: span 2;
    justify-self: center;
    padding-top: 3.125rem
  }
  .figures__bottom {
    grid-row: 3/4;
    grid-column: span 2
  }
  .figures__title-wr {
    transition-delay: .3s
  }
  .sub-txt {
    display: none
  }
  .right-figure__body {
    left: 0
  }
  .right-figure__svg-01 {
    width: 100%
  }
  .right-figure__svg-02 {
    width: 18vw;
    grid-row: 2/3
  }
  .bottom-figure__svg.svg-pc {
    display: none
  }
  .bottom-figure__svg {
    left: 17.5vw
  }
}
@media (max-width:30.06125em) {
  .header {
    padding-top: 1rem
  }
  .header__logo {
    width: 1.4375rem
  }
}
@media (max-width:24.43625em) {
  .figures__txt {
    font-size: 2.1875rem
  }
  .figures__txt span {
    font-size: 1.5625rem
  }
  .figures__title-wr {
    margin-bottom: 1.875rem
  }
  .figures__title {
    font-size: .625rem
  }
  .figures__subtitle {
    font-size: .4375rem
  }
}
@media (max-width:23.81125em) {
  .figures__txt-wr {
    padding-top: 1.875rem
  }
}
@media (min-width:90.06125em)and (max-width:120em) {
  [class*=__container] {
    max-width: clamp(81.25rem ,7.9255302493rem + 81.4162247923vw ,105.625rem)
  }
}
@media (min-width:30.06125em)and (max-width:90.06125em) {
  .header {
    padding-top: clamp(1rem ,.8747447917rem + .4166666667vw ,1.25rem)
  }
  .header__logo {
    width: clamp(1.4375rem ,.9051653646rem + 1.7708333333vw ,2.5rem)
  }
}
@media (min-width:90.06125em)and (max-width:120.06125em) {
  .figures__txt {
    font-size: clamp(5.625rem ,.5590546875rem + 5.625vw ,7.3125rem)
  }
  .figures__txt span {
    font-size: clamp(3.75rem ,-.0025520833rem + 4.1666666667vw ,5rem)
  }
  .figures__title {
    font-size: clamp(1.5rem ,.1866067708rem + 1.4583333333vw ,1.9375rem)
  }
  .figures__subtitle {
    font-size: clamp(.875rem ,.1244895833rem + .8333333333vw ,1.125rem)
  }
}
@media (min-width:24.43625em)and (max-width:90.06125em) {
  .figures__txt {
    font-size: clamp(2.1875rem ,.9075059524rem + 5.2380952381vw ,5.625rem)
  }
  .figures__txt span {
    font-size: clamp(1.5625rem ,.7479583333rem + 3.3333333333vw ,3.75rem)
  }
  .figures__title-wr {
    margin-bottom: clamp(1.875rem ,.2459166667rem + 6.6666666667vw ,6.25rem)
  }
  .figures__title {
    font-size: clamp(.625rem ,.2991833333rem + 1.3333333333vw ,1.5rem)
  }
  .figures__subtitle {
    font-size: clamp(.4375rem ,.2745916667rem + .6666666667vw ,.875rem)
  }
}
@media (min-width:48.06125em)and (max-width:90.06125em) {
  .sub-txt {
    font-size: clamp(1.25rem ,.963921131rem + .5952380952vw ,1.5rem)
  }
}
@media (any-hover:hover) {
  .lng__link:hover::before,
  .menu__link:hover::before {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%
  }
}