.hero {
  // .hero__body
  &__body {
    overflow: hidden;
    min-height: 100svh;
    position: relative;
    &.loaded {
      &::before {
        height: 100vh;
      }
    }
    &.step-1 {
      &::before {
        bottom: unset;
        top: 0;
        @media (min-width:$mobile){
          width: 35vw;
        }
        @media (max-width:$mobile){
          width: 40vw;
        }
      }
    }
    &.step-2 {
      &::before {
        @media (min-width:$mobile){
          height: 75vh;
        }
        @media (max-width:$mobile){
          height: 40vh;
        }
      }
    }
    &.step-3 {
      &::before {
        @media (min-width:$mobile){
          height: 100vh !important;
          transition-delay: 0s;
        }
        // @media (max-width:$mobile){
        //   transition-delay: 0.3s;
        // }
      }
    }
    &::before {
      content:'';
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      background-color: $gray-200;
      
      height: 0vh;
      width: 100vw;
      transition: width .45s ease, height .45s ease;
    }
  }
  // .hero__video
  &__video {
    position: absolute;
    inset: 0;
    z-index: 0;

    opacity: 0;
    .loaded & {
      opacity: 1;
      transition-delay: .6s;
    }
  }
	// .hero__figures
	&__figures {
 
  }
  // .hero__container
  &__container {
    position: relative;
    z-index: 2;
  }
  // .hero__info
  &__info {
  }
}

.figures {
  position: absolute;
  // position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  display: grid;

  @media (min-width:$mobile){
    grid-template-columns: 35% 65%;
    grid-template-rows: 75% 25% ;
    
  }
  @media (max-width:$mobile){
    grid-template-columns: 40% 60% ;
    grid-template-rows: 40% 50% 10% ;
    // .step-3 & {
      // transition: grid-template-rows .45s ease .3s;
      // grid-template-rows: 80% 20% 0% ;
    // }
  }
  // .figures__left
  &__left {
    // background-color: $gray-200;
    color: $black-800;
    display: flex;
    align-items: flex-end;
  }
  // .figures__right
  &__right {
    position: relative;
    @media (min-width:$mobile){
      
      display: flex;
      align-items: flex-end;
    }
  }
	// .figures__txt-wr
	&__txt-wr {
    position: relative;
    z-index: 3;
    padding-left: toRem(20);
    overflow: hidden;
    @media (min-width:$mobile){
      padding-top: toRem(100);
      // margin-bottom: 13.5vw;
      margin-bottom: 12.5vw;
    }
    @media (max-width:$mobile){
       grid-row: 2/3;
       grid-column: span 2;
       justify-self: center;
       padding-top: toRem(50);
    }
    @media (max-width: toEm(380.98)){
        padding-top: toRem(30);
    }
	}
  // .figures__txt
  &__txt {

    transition: transform .65s ease, opacity .2s ease;
    transform: translate(calc(-100% - toRem(20)),0);
    font-weight: 500;
    line-height: 0.8;
    @include adaptiveValue("font-size", 74, 35,0,1440.98,390.98);

    .loaded & {
      transform: translate(0,0%);
      transition-delay: 1.7s;
    }
    .step-3 & {
      opacity: 0;
      transition-delay: 0s;
    }

    span {
      font-weight: 400;
      position: relative;
      left: -3%;
      @include adaptiveValue("font-size", 55, 25,0,1440.98,390.98);
    }
  }
  // .figures__bottom
  &__bottom {
    position: relative;
    @media (min-width:$mobile){
      grid-column: 2/3;
    }
    @media (max-width:$mobile){
      grid-row: 3/4;
      grid-column: span 2;        
    }
  }


	// .figures__title-wr
	&__title-wr {
    padding-right: toRem(8);
    overflow: hidden;
    transition: transform .8s ease;
    @include adaptiveValue("margin-bottom", 100, 30,0,1440.98,390.98);
    .step-3 & {
      @media (min-width:$mobile){
        transform: translate(0,100%);
      }
    } 
    @media (min-width:$tablet){
      padding-left: 6.75vw;
    }
    @media (max-width:$tablet){
      padding-left: toRem(15);
    }
    @media (min-width:$mobile){
      padding-top: toRem(50);
    }
    @media (max-width:$mobile){
      transition-delay: .3s;
    }
	}
	// .figures__title-body
	&__title-body {
    transition: transform .5s ease;
    transform: translate(0,100%);
    .loaded & {
      transform: translate(0,0%);
      transition-delay: 1.7s;
    }

	}
	// .figures__title
	&__title {
    margin-bottom: toRem(10);
    @include adaptiveValue("font-size", 31, 10,0,1920.98,390.98);
	}
	// .figures__subtitle
	&__subtitle {
    max-width: 33ch;
    @include adaptiveValue("font-size", 18, 7,0,1920.98,390.98);
	}
	// .figures__sub-txt-01
	&__sub-txt-01 {
    position: absolute;
    top: 6.5vw;
    opacity: 0;
    transition: right .45s ease, opacity .2s ease;
    right: 0;
    .loaded & {
      opacity: 1;
      right: 5vw;
      transition-delay: 2.6s;
    }
  }
	// .figures__sub-txt-02
	&__sub-txt-02 {
    position: absolute;
    bottom: -2vw;
    opacity: 0;
    transition: right .45s ease, opacity .2s ease;
    right: 0;
    .loaded & {
      opacity: 1;
      right: 21.5vw;
      transition-delay: 1.65s;
    }
  }
	// .figures__sub-txt-03
	&__sub-txt-03 {
    margin-bottom: 3vw;
    transition: transform .6s ease;
    transform: translate(calc(-25% - toRem(20)),0%);
    .loaded & {
      transform: translate(0,0%);
      transition-delay: 1.65s;
    }
  }
}

.sub-txt {
  font-size: toRem(15);
  // @include adaptiveValue("font-size", 24, 20,2,1440.98,768.98);
  @media (max-width:$mobile){
     display: none; 
  }
}

.right-figure {
  overflow: hidden;
	// .right-figure__body
	&__body {
    position: absolute;
    top: 0;
    @media (min-width:$mobile){
      right: 0;
    }
    @media (max-width:$mobile){
      left: 0;        
    }
  }
  // .right-figure__svg-01
  &__svg-01 {
    height: auto;
    @media (min-width:$mobile){
      width: 30vw;
    }
    @media (max-width:$mobile){
      width: 100%;
    }
    .rect-green {
      transition: transform .55s ease;
      transform: translate(-60%,0);
      .loaded & {
        transform: translate(0,0%);
        transition-delay: 2.2s;
      }
      .step-3 & {
        transform: translate(0,-80%);
        transition-delay: 0s;
      }
    }
    .rect-prp-02 {
      transition: transform .55s ease, opacity .3s ease;
      transform: translate(60%,0);
      .loaded & {
        transform: translate(0,0%);
        transition-delay: 2.35s;
      }
      .step-3 & {
        opacity: 0;
        transition-delay: 0s;
      }
    }
    .rect-prp-01 {
      transition: transform .55s ease, opacity .3s ease;
      transform: translate(0,20%);
      .loaded & {
        transform: translate(0,0%);
        transition-delay: 1.95s;
      }
      .step-3 & {
        opacity: 0;
        transition-delay: 0s;
      }
    }
  }
  // .right-figure__svg-02
  &__svg-02 {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    // .rect-pink-01 {
      transition: transform .45s ease;
      transform: translate(-100%,0);
      .loaded & {
        transform: translate(0,0%);
        transition-delay: 1.7s;
      }
      .step-3 & {
        transform: translate(-100%,0%);
        transition-delay: 0s;
      }
  
    // }
    @media (min-width:$mobile){
      width: 7.6vw;
      
    }
    @media (max-width:$mobile){
      width: 18vw;
       grid-row: 2/3; 
    }
  }
}

.bottom-figure {
  // .bottom-figure__svg
  &__svg {
    position: absolute;
    top: 0;
    
    height: 100%;
    width: auto;
    rect {
      transition: transform .25s ease;
      transform: translate(0,100%);
      // .step-3 & {
      //   transform: translate(0,0%);
      //   transition-delay: .2s;
      // }
      .loaded & {
        transform: translate(0,0%);
        transition-delay: 1.9s;
      }
      .step-3 & {
        transform: translate(0,100%);
        transition-delay: .2s;
      }
    }
    &.svg-pc {
      @media (max-width:$mobile){
          display: none;
      }
    }
    &.svg-mb {
      @media (min-width:$mobile){
         display: none; 
      }
    }
   
    @media (min-width:$mobile){
      aspect-ratio: 488/200;
      left: 7.3vw;
    }
    @media (max-width:$mobile){
      left: 17.5vw;
    }
  }
}


.info-hero {
  // .info-hero__container
  &__container {
  }
  // .info-hero__img
  &__img {
    width: 100%;
    height: auto;
    float: left;
    @include adaptiveValue("margin-right", 20, 10,0,1440.98,480.98);

    // @include adaptiveValue("max-width", 312, 240,2,1920.98,1440.98);
    // @include adaptiveValue("max-width", 240, 110,3,1440.98,480.98);
    
    @include adaptiveValue("max-width", 312, 110,0,1920.98,480.98);
  }
  // .info-hero__txt
  &__txt {
    line-height: 1.2;
    @include adaptiveValue("padding-top", 120, 40,0,1920.98,480.98);
    @include adaptiveValue("padding-left", 37, 0,2,1440.98,768.98);

    // @include adaptiveValue("font-size", 62, 48,2,1920.98,1440.98);
    // @include adaptiveValue("font-size", 48, 30,3,1440.98,390.98);
    
    @include adaptiveValue("font-size", 44, 34,2,1920.98,1440.98);
    @include adaptiveValue("font-size", 34, 30,3,1440.98,390.98);
    span {
      .word {
        border-bottom: 1px solid $gray-200;
      }
    }
    .word {
      opacity: 0.2;
    }
    @media (min-width:$tablet){
       max-width: 77%; 
    }
  }
}

// == about ===============================
.about {
  // .about__container
  &__container {
  }
  // .about__block
  &__block {
    .block-clm__txt {
      &.txt-20 {
        color: $gray-500;
          max-width: 76%; 
      }
    }
  }
}

// === TICKER ==============================
.ticker {
  transition: transform .85s ease, opacity .3s ease;
  opacity: 0;
  transform: translateY(100%);
  &:not(:last-child) {
    margin-bottom: 1.5vw;
  }
  &.rtl {
    position: relative;
    z-index: 2;
  }
  &.ltr {

  }
	// .ticker__wrapper
	&__wrapper {
    overflow: hidden;
    &._watcher-view {
      overflow: visible;
      .ticker {
        opacity: 1;
        transform: translateY(0);
      }
    }
	}

  // .ticker__list
  &__list {
    // animation: scroll 20s linear infinite;
  }
  // .ticker__item
  &__item {
    position: relative;

  
    // @include adaptiveValue("font-size", 180, 140,2,1920.98,1440.98);
    // @include adaptiveValue("font-size", 140, 47,3,1440.98,480.98);
    
    @include adaptiveValue("font-size", 110, 47,0,1440.98,480.98);

    @include adaptiveValue("padding-left", 35,15,0,1440.98,480.98);
    @include adaptiveValue("padding-right", 35,15,0,1440.98,480.98);
    span {
      position: relative;
      &::before {
        content:'';
        position: absolute;
      }
    }
    .img {
      display: inline-block;
      padding-left: 2vw;
      img {
        width: auto;
        // @include adaptiveValue("height", 195, 150,2,1920.98,1440.98);
        // @include adaptiveValue("height", 150, 50,3,1440.98,480.98);

        @include adaptiveValue("height", 150, 50,0,1440.98,480.98);
        position: relative;
        transform: translate(0%,-5%);
       }
    }
    .rect {
      &::before {
        top: 0;
        left: 50%;
        transform: translate(-50%,0);
        height: 100%;
        width: 110%;
        background-color: rgba(230, 7, 148, 0.60);
        border: toRem(2) solid #E60795;
      }
    }
    .figure-green {
      &::before {
        top: 50%;
        right: 0;
        transform: translate(33%,-55%);
        background-image: url("../img/icons/figure-01.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 130%;
        aspect-ratio: 1/1;
      }
    }
    .rect-border {
      &::before {
        bottom: 0;
        right: 0;
        transform: translate(7%,0%);
        width: 55%;
        height: 50%;
        border: toRem(2) solid #E60795;
      }
    }
  }
}



// .marquee_wrap.u-text-display {
//   text-transform: var(--text-transform--uppercase);
//   font-size: 7rem;
//   overflow: clip
// }

// .marquee_inner {
//   width: 100%;
//   overflow: hidden
// }

// .marquee_inner.u-hflex-left-center {
//   grid-column-gap: .2em;
//   grid-row-gap: .2em
// }

// .marquee_panel {
//   will-change: transform
// }

// .marquee_panel.u-hflex-left-center {
//   grid-column-gap: .2em;
//   grid-row-gap: .2em
// }

// .marquee_text {
//   white-space: nowrap
// }

// .marquee_icon.u-flex-noshrink {
//   width: .8em
// }
// .u-hflex-left-center {
//   flex-flow: row;
//   place-content: center flex-start;
//   align-items: center;
//   display: flex
// }


// === SERVICES =============================================
.services {
  // .services__container
  &__container {
  }
  // .services__block
  &__block {
    padding-bottom: toRem(80);
  }
  // .services__spollers
  &__spollers {
    @media (min-width:$mobile){
       margin-bottom: toRem(20); 
       max-width: 90%;
       margin-inline: auto;
    }
    @media (max-width:$mobile){
      margin-bottom: toRem(30); 
    }
  }
	// .services__link-body
	&__link-body {
    width: fit-content;
    @media (min-width:$tablet){
      margin-left: auto;  
      margin-right: 5%;
    }
    @media (max-width:$tablet){
      margin-inline: auto;
    }
	}
  // .services__link
  &__link {
  }
}

%spollerSummary {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: toRem(20);

  @include adaptiveValue("padding-top", 44,16,0,1920.98,480.98);
  @include adaptiveValue("padding-bottom", 44,16,0,1920.98,480.98);
  @media (min-width:toEm(1200.98)){
      padding-left: toRem(40);
      padding-right: toRem(40);
  }
}
%spollersTransition {
  transition: color .45s ease;
}

.spollers-s {
  // .spollers-s__item
  &__item {
    color: $gray-400;
    &:not(:last-child) {
      @media (min-width:$mobileSmall){
        border-bottom: toRem(2) solid $gray-600;
      }
      @media (max-width:$mobileSmall){
        border-bottom: toRem(1) solid $gray-600;
      }
    }
    &._active {
      .spollers-s__num,
      .spollers-s__name {
        color: $gray-200;
      }
    }
  }
  // .spollers-s__summary
  &__summary {
    @extend %spollerSummary;
   
    @media (any-hover: hover){
      &:hover{
        .spollers-s__num,
        .spollers-s__name {
          color: $gray-200;
        }
      }
    }
    
  }
  // .spollers-s__num
  &__num {
    @extend %spollersTransition;
    @include adaptiveValue("font-size", 20, 9,0,1440.98,480.98);
  }
  // .spollers-s__name
  &__name {
    @extend %spollersTransition;
    @include adaptiveValue("font-size", 60, 25,0,1440.98,480.98);
  }
  // .spollers-s__link
  &__link {
    flex: 0 0 auto;
    display: grid;
    place-items: center;
    border-radius: toRem(150);
    height: fit-content;
    transition: color .3s ease, background-color .3s ease, border .3s ease;
   
    
    @include adaptiveValue("padding-inline", 30,20,0,1440.98,480.98);
    @include adaptiveValue("min-height", 41,29,0,1440.98,480.98);
    @include adaptiveValue("font-size", 20, 14,0,1440.98,480.98);

    @media (min-width:$mobile){
      border: toRem(2) solid $gray-600;
    }
    @media (max-width:$mobile){
      border: toRem(1) solid $gray-600;
    }
    @media (any-hover: hover){
      &:hover{
        border-color: $neon-green;
        color: $gray-200;
      }
    }
    &:active {
      background-color: rgba(82, 254, 3, 0.24);
    }
  }
  // .spollers-s__body
  &__body {
  }
  // .spollers-s__wrapper
  &__wrapper {
    line-height: 1.2;
    // @include adaptiveValue("font-size", 31, 24,2,1920.98,1440.98);
    // @include adaptiveValue("font-size", 24, 14,3,1440.98,480.98);
    // @include adaptiveValue("padding-bottom", 44,34,2,1920.98,1440.98);
    // @include adaptiveValue("padding-bottom", 34,16,3,1440.98,480.98);
    
    @include adaptiveValue("font-size", 20, 14,0,1440.98,480.98);
    @include adaptiveValue("padding-bottom", 44,16,0,1920.98,480.98);
    @media (min-width:toEm(600.98)){
      margin-left: 24vw;
      max-width: 35%;
    }
  }
}

// === TEAM =============================================
.team {
  background-color: $gray-200;
  // .team__container
  &__container {
  }
  // .team__block
  &__block {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 0;
    .block-clm__title,
    .block-clm__txt {
      color: $black-800;
    }
    .block-clm__body {
      max-width: 100%;
      columns: 2 toRem(250);
      column-gap: 4vw;
    }
  }
  // .team__picture
  &__picture {
    position: relative;
    z-index: 2;
    transform: translate3d(0,0,0);
    @media (max-width:toEm(600.98)){
        margin-inline: toRem(-15);
    }
    @media (min-width:toEm(500.98)){
      padding-top: toRem(30);
      padding-bottom: var(--padding-bottom);
    }
    @media (max-width:toEm(500.98)){
      padding-top: toRem(80);
      padding-bottom: calc(var(--padding-bottom) + toRem(50));
    }
  }
  // .team__img
  &__img {
    display: block;
    height: auto;
    margin-left: auto;
    @include adaptiveValue("width", 563,500,2,1920.98,500.98);
  }
}

// === MEMBERS =============================================
.members {
  // .members__container
  &__container {
  }
  // .members__title
  &__title {
    color: $gray-400;
    @include adaptiveValue("margin-bottom", 130, 10,0,1920.98,480.98);
  }
  // .members__spollers
  &__spollers {
    @media (min-width:$mobile){
      max-width: 95%;
      margin-inline: auto;
   }
  }
}

.spollers-mb {
  color: $gray-400;
  // .spollers-mb__item
  &__item {
    position: relative;
    &:not(:last-child) {
      .spollers-mb__summary {
        @media (min-width:$mobileSmall){
          border-bottom: toRem(2) solid $gray-600;
        }
        @media (max-width:$mobileSmall){
          border-bottom: toRem(1) solid $gray-600;
        }
      }
    }
    &._active {
      z-index: 10;
      .spollers-mb__position,
        .spollers-mb__name {
          color: $gray-200;
        }
        .spollers-mb__arr {
          transform: rotate(-180deg);
          path {
            stroke: $gray-200;
          }
        }
      .spollers-mb__img {
        opacity: 1;
        img {
          transform: translateY(0)
        }
      }
    }
  }
  // .spollers-mb__summary
  &__summary {
    @extend %spollerSummary;
    display: grid;
    @media (any-hover: hover){
      &:hover{
        .spollers-mb__position,
        .spollers-mb__name {
          color: $gray-200;
        }
        .spollers-mb__arr {
          transform: rotate(-180deg);
          path {
            stroke: $gray-200;
          }
        }
      }
    }
    @media (min-width:$mobileSmall){
      grid-template-columns: 29% 39% 1fr ;
    }
    @media (max-width:$mobileSmall){
      grid-template-columns: 29% 1fr auto;
    }
  }
  // .spollers-mb__position
  &__position {
    @extend %spollersTransition;
    @include adaptiveValue("font-size", 31, 13,0,1920.98,480.98);
  }
  // .spollers-mb__name
  &__name {
    justify-self: center;
    @extend %spollersTransition;
    text-transform: uppercase;
    @include adaptiveValue("font-size", 54, 20,0,1920.98,480.98);
  }
  // .spollers-mb__arr
  &__arr {
    justify-self: flex-end;
    transform-origin: 50% 50%;
    transition: transform .5s ease;
    height: auto;
    @include adaptiveValue("width", 46,18,0,1920.98,480.98 );
    path {
      transition: stroke .3s ease;
    }
  }
  // .spollers-mb__body
  &__body {
  }
  // .spollers-mb__wrapper
  &__wrapper {
    line-height: 1.2;
    @include adaptiveValue("font-size", 20, 15,0,1440.98,480.98);
    @include adaptiveValue("padding-top", 26, 16,0,1920.98,480.98);
    // @include adaptiveValue("padding-bottom", 52, 16,0,1920.98,480.98);
    @media (min-width:toEm(1200.98)){
      padding-left: toRem(40);
      padding-right: toRem(40);
    }
    @media (min-width:$mobile){
        max-width: 70%;
    }
  }
  // .spollers-mb__img
  &__img {
    position: absolute;
    right: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity .45s ease;
    @include adaptiveValue("right", 136, 35,0,1920.98,480.98);
    img {
      // transform: translateY(10%);
      transition: transform .45s ease;
      height: auto;
      @include adaptiveValue("max-width", 320, 115,0,1920.98,480.98);
    }
    @media (min-width:$mobile){
      top: -50%;
    }
    @media (max-width:$mobile){
      top: calc(100% + toRem(5));        
    }
  }
}

// === BG IMG =============================================
.bg-img {
  overflow: hidden;
  position: relative;
	// .bg-img__body
	&__body {
  }
	// .bg-img__bg
	&__bg {
    transform: scale(1.1);
    @media (min-width:$mobileSmall){
      aspect-ratio: 1439/684; 
    }
    @media (max-width:$mobileSmall){
      aspect-ratio: 385/446; 
    }
	}
	// .bg-img__logo
	&__logo {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-65%,-50%);
    height: auto;
    @media (min-width:$mobileSmall){
      width: 20%;
    }
    @media (max-width:$mobileSmall){
      width: 49%;
    }
	}
}

// ==== CLIENTS ==========================
.clients {
	// .clients__container
	&__container {
	}
	// .clients__title
	&__title {
     color: $gray-400;
    @include adaptiveValue("margin-bottom", 84, 30,0,1440.98,480.98);
	}
	// .clients__ticker
	&__ticker {
	}
  // .clients__link
  &__link {
    display: block;
    margin-inline: auto;
    width: fit-content;
    @include adaptiveValue("margin-block", 156,60,0,1440.98,480.98 );
    @media (any-hover: hover){
      &:hover{
        .btn-circle__arr {
          svg {
            transform: translate(100%,-100%);
          }
        
        }
      }
    }
    .btn-circle {
      // .btn-circle__body
      &__body {
      }
      // .btn-circle__txt
      &__txt {
        @include adaptiveValue("font-size", 40, 25,0,1440.98,480.98);
      }
      // .btn-circle__arr
      &__arr {
        svg {
          @include adaptiveValue("width", 26, 13,0,1440.98,480.98);
        }
        .arrow {
        }
        .arrow-clone {
        }
      }
    }
  }
}

.ticker-clients {
	// .ticker-clients__ticker
	&__ticker {
    &:nth-child(1) {
      .ticker-clients__item {
        border-bottom-width: toRem(1);
      }
    }
    &:nth-child(2) {
      .ticker-clients__item {
        border-top-width: toRem(1);
      }
    }
	}
	// .ticker-clients__list
	&__list {
  
	}
	// .ticker-clients__item
	&__item {
    cursor: pointer;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: toRem(2) solid $gray-600;
    border-bottom: toRem(2) solid $gray-600;
    border-left: toRem(1) solid $gray-600;
    border-right: toRem(1) solid $gray-600;
    transition: border .3s ease;
    @include adaptiveValue("width", 240, 194,0,1440.98,390.98);
    @media (any-hover: hover){
      &:hover{
        border-color: $neon-green;
      }
    }
    img {
      // max-width: 80%;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
	}
}


// ==================================================================
// ----------------------------------------------------------
// ==== PROJECTS ======================================
.projects {
  @include adaptiveValue("padding-top", 300, 140,0,1920.98,480.98);
  // .projects__container
  &__container {
  }
  // .projects__block
  &__block {
    @include adaptiveValue("padding-bottom", 100, 30,0,1440.98,480.98);
    .block-clm__left {}
    
    .block-clm__title {}
    
    .block-clm__right {}
    
    .block-clm__body {
      @media (min-width:$mobile){
         max-width: 55%; 
      }
    }
    .block-clm__txt {}
  }
  // .projects__nav
  &__nav {
    @include adaptiveValue("margin-bottom", 104, 30,0,1920.98,480.98);
  }
  // .projects__items
  &__items {
    display: grid;
    column-gap: toRem(32);
    @include adaptiveValue("row-gap", 135, 32,0,1920.98,480.98);
    @include adaptiveValue("margin-bottom", 56, 35,0,1440.98,480.98);
    @media (min-width:$mobileSmall){
      grid-template-columns: repeat(2,1fr);
      grid-auto-rows: .7fr;
    }

    .item-project {
      // Стили для всех 1-х элементов (1, 6, 11, ...)
      &:nth-child(5n + 1) {
        @media (min-width:toEm(600.98)){
          width: 97%;
          img {
            aspect-ratio: 620/411;
          }
        }
      }
      // // Стили для всех 2-х элементов (2, 7, 12, ...)
      &:nth-child(5n + 2) {
        @include adaptiveValue("margin-top", 135, 32,2,1920.98,480.98);
        @media (min-width:$mobileSmall){
          width: 86%;
          margin-left: auto;
          grid-row: span 2;
          img {
            aspect-ratio: 543/756;
          }
        }
      }
      // Стили для всех 3-х элементов (3, 8, 13, ...)
      &:nth-child(5n + 3) {
        @include adaptiveValue("margin-top", 100, 32,2,1920.98,480.98);
        @media (min-width:$mobileSmall){
          width: 87%;
          grid-row: span 2;
          img {
            aspect-ratio: 551/782;
          }
        }
      }
      // Стили для всех 4-х элементов (4, 9, 14, ...)
      &:nth-child(5n + 4) {
        @media (min-width:$mobileSmall){
          width: 94%;
          margin-left: auto;
          margin-top: toRem(40);
          img {
            aspect-ratio: 597/398;
          }
        }
      }
      // Стили для всех 5-х элементов (5, 10, 15, ...)
      &:nth-child(5n + 5) {
        @media (min-width:$mobileSmall){
          grid-column: span 2;
          grid-row: span 2;
          width: 100%;
          img {
            aspect-ratio: 1277/720;
          }
        }
      }
    }
  }
  // .projects__link-body
  &__link-body {
    width: fit-content;
    @media (min-width:toEm(820.98)){
        margin-left: auto;
    }
    @media (max-width: toEm(820.98)){
        margin-inline: auto;
    }
  }
  // .projects__link
  &__link {
  }
	// .projects__lets
	&__lets {
    border-top: toRem(2) solid $gray-600;
    @media (max-width:$mobileSmall){
       border-width: toRem(1); 
    }
	}
}

.nav-projects {
  // .nav-projects__list
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include adaptiveValue("column-gap", 28, 10,0,1920.98,480.98);
    @include adaptiveValue("row-gap", 18, 16,0,1920.98,480.98);
    @media (min-width:$tablet){
       max-width: 78%; 
    }
  }
  // .nav-projects__item
  &__item {
  }
  // .nav-projects__link
  &__link {
    color: $gray-500;
    display: flex;
		align-items: center;
		justify-content: center;
    border: toRem(2) solid $gray-600;
    border-radius: toRem(96);
    transition: background-color .3s ease, border .3s ease, color .3s ease;
    @include adaptiveValue("font-size", 23, 12,0,1920.98,480.98);
    @include adaptiveValue("padding-block", 10, 5,0,1920.98,480.98);
    @include adaptiveValue("padding-inline", 26, 10,0,1920.98,480.98);
    @media (max-width:$mobileSmall){
       border-width: toRem(1); 
    }
    @media (any-hover: hover){
      &:hover{
        color: $gray-200;
        border-color: $neon-green;
      }
    }
    &:active {
      color: $gray-200;
      border-color: $neon-green;
      background-color: rgba(83, 254, 3, 0.24);
    }
    &._active {
      color: $gray-200;
      border-color: $neon-green;
    }
  }
}

.item-project {
  // .item-project__link
  &__link {
    display: block;
    @media (any-hover: hover){
      &:hover{
        .item-project__img {
          transform: scale(1);
        }
        .item-project__arrow {
          &::after {
            transform: rotate(-90deg) scaleX(1.2);
          }
          &::before {
            transform: scaleX(1.2);
          }
          span {
            display: block;
            transform: rotate(-45deg) scaleX(1.65);
          }
        }
      }
    }
  }
	// .item-project__head
	&__head {
    overflow: hidden;
    position: relative;
    @include adaptiveValue("margin-bottom", 50, 32,0,1920.98,480.98);
	}
	// .item-project__img
	&__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.05);
    transition: transform .5s ease;
    transform-origin: 50% 50%;
	}
	// .item-project__arrow
	&__arrow {
    position: absolute;
    z-index: 2;
    // transition: transform .4s ease;
    // transform-origin: 100% 0%;
    aspect-ratio: 1/1;
    @include adaptiveValue("width", 48, 24,0,1920.98,480.98);
    @include adaptiveValue("top", 52, 23,0,1920.98,480.98);
    @include adaptiveValue("right", 52, 23,0,1920.98,480.98);
    // path {
    //   transition: fill .4s ease;
    // }
    
    &._cl-light {
      &:before,
      &:after,
      span {
        background-color: $gray-200;
      }
    }
    &._cl-dark {
      &:before,
      &:after,
      span {
        background-color: $black-800;
      }
    }

    &:before,
    &:after,
    span {
      content:'';
      position: absolute;
      height: toRem(2);
      width: 100%;
      transform-origin: 100% 0;
      transition: transform .4s ease;
    }
    &::after {
      transform: rotate(-90deg);
    }
    &::before {
    }
    span {
      display: block;
      top: toRem(0.5);
      // right: toRem(0.5);
      transform: rotate(-45deg) scaleX(1.38);
    }
	}
  // .item-project__footer
  &__footer {
  }
  // .item-project__title
  &__title {
    text-transform: uppercase;
    @include adaptiveValue("font-size", 36, 25,0,1920.98,480.98);
    @include adaptiveValue("margin-bottom", 15, 10,0,1920.98,480.98);
  }
  // .item-project__subtitle
  &__subtitle {
    line-height: 1.2;
    color: $gray-500;
    @include adaptiveValue("font-size", 16, 14,0,1920.98,480.98);
  }
}



// ==== PROJECT ONE =========================================
%projectsTxt-1 {
  font-weight: 500;
  text-transform: uppercase;
  color: $gray-8-8b;
  @include adaptiveValue("font-size", 23, 15,0,1920.98,480.98);
}
.project {
  h1 {
    text-transform: uppercase;
    color: $black-800;
    @include adaptiveValue("font-size", 155, 54,0,1920.98,480.98);
  }
}

.head-project {
  @include adaptiveValue("padding-top", 195, 60,0,1920.98,480.98);
  @include adaptiveValue("padding-bottom", 96, 30,0,1920.98,480.98);
  @media (min-width:toEm(820.98)){
    display: flex;
    min-height: 100svh;
  }
		// .head-project__container
		&__container {
      display: grid;
      gap: toRem(20);
      @media (min-width:toEm(820.98)){
        flex: 1;
        grid-template-columns: 1fr 35%;
      }
		}
		// .head-project__left
		&__left {
      @media (min-width: toEm(820.98)){
        display: flex;
        flex-direction: column;
        padding-bottom: toRem(50);
      }
		}
		// .head-project__about
		&__about {
      line-height: 1.3;
      color: #000;
      text-transform: uppercase;
      @include adaptiveValue("font-size", 31, 13,0,1920.98,480.98);
      @include adaptiveValue("margin-bottom", 100, 36,0,1920.98,480.98);
      @media (min-width:toEm(820.98)){
        max-width: 72%;
      }
      @media (max-width: toEm(820.98)){
        max-width: 74%;
      }
		}
		// .head-project__services
		&__services {
      @media (min-width:toEm(820.98)){
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
      }
    }
		// .head-project__serv-t
		&__serv-t {
      @extend %projectsTxt-1;
      @include adaptiveValue("margin-bottom", 19, 8,0,1920.98,480.98);
		}
		// .head-project__category
		&__category {
      @extend %projectsTxt-1;
      color: #000;
      @include adaptiveValue("margin-bottom", 35, 14,0,1920.98,480.98);
		}
		// .head-project__right
		&__right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: toRem(23);
      @include adaptiveValue("padding-top", 80,0,2,1920.98,992.98);
      @include adaptiveValue("padding-right", 130,0,2,1920.98,992.98);
		}
		// .head-project__img
		&__img {
      img {
        display: block;
        height: auto;
        @media (min-width:toEm(820.98)){
          width: 100%;
        }
        @media (max-width:toEm(820.98)){
          width: 58%;
          margin-left: auto;
        }
      }
		}
		// .head-project__footer
		&__footer {
      @extend %projectsTxt-1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: toRem(20);
		}
		// .head-project__name
		&__name {
		}
		// .head-project__date
		&__date {
		}
}

%listStyleNum {
  list-style-type: none;
  counter-reset: item;
  li {
    &:before {
      counter-increment: item;
      content: counter(item)".";
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.about-project {
  // .about-project__container
  &__container {
  }
  // .about-project__blocks
  &__blocks {
  }
  // .about-project__block
  &__block {
    display: grid;
    gap: toRem(30);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 110,30,0,1920.98,480.98 );
    }
    @media (min-width:toEm(700.98)){
      grid-template-columns: 22% 1fr;
    }
  }
  // .about-project__title
  &__title {
    color: $gray-400;
    padding-top: 5px;
  }
  // .about-project__content
  &__content {
    @media (min-width:$tablet){
      max-width: 55%;
    }
    p, ul, ol {
      @include adaptiveValue("margin-bottom", 42,14,0,1920.98,480.98 );
    }
    ul, ol {

    }
    
    li {
      position: relative;
      @include adaptiveValue("padding-left", 50, 25,0,1920.98,480.98);
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 24,8,0,1920.98,480.98 );
      }
    }

    ul {
      li {
        &::before {
          content:'';
          position: absolute;
          aspect-ratio: 1/1;
          border-radius: 50%;
          background-color: $gray-200;
          @include adaptiveValue("top", 20, 10,0,1920.98,480.98);
          @include adaptiveValue("left", 15, 5,0,1920.98,480.98);
          @include adaptiveValue("width", 10, 6,0,1920.98,480.98);
        }
      }
    }

    ol {
      @extend %listStyleNum;
    }
  }
  // .about-project__colors
  &__colors {
    display: flex;
    flex-wrap: wrap;
    gap: toRem(14);
    @include adaptiveValue("padding-left", 21, 12,0,1440.98,480.98);
  }
  // .about-project__color
  &__color {
    aspect-ratio: 1;
    width: toRem(45);
    &.color-01 {
      background-color: #FF6F39;
    }
    &.color-02 {
      background-color: #D9D9D9;
    }
    &.color-03 {
      background-color: #9F7F60;
    }
  }
}

.slider-project {
  position: relative;
  z-index: 0;
  &::before {
    content:'';
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    @media (min-width:$mobileSmall){
      height: 34%;
    }
    @media (max-width:$mobileSmall){
      height: 50%;        
    }
  }
  &.bottom-gray {
    &::before {
      background-color: $gray-200;
    }
  }
  &.bottom-black {
    &::before {
      background-color: $black-800;
    }
  }

  // .slider-project__container
  &__container {
    position: relative;
    z-index: 1;
  }
  // .slider-project__slider
  &__slider {
    position: relative;
    @media (max-width: toEm(1336.98)){
      width: calc(100% - toRem(40));
      margin-inline: auto;
    }
  }
  // .slider-project__wrapper
  &__wrapper {
  }
  // .slider-project__slide
  &__slide {
    .slide-project {
      img {
        // width: 100%;
        // height: auto;
        
        aspect-ratio: 1200/738;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  // .slider-project__btn
  &__btn {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translate(0%,-50%);

    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(81, 255, 0, 0.63);
    border: toRem(2) solid $neon-green;
    transition: background-color .3s ease, opacity .3s ease;
    @include adaptiveValue("width", 74,42,0,1920.98,480.98 );
    svg,img {
      width: 38%;
      height: auto;
      transform-origin: 50% 50%;
      transition: transform .4s ease;
    }
    @media (max-width:$mobileSmall){
       border-width: toRem(1); 
    }
    &.swiper-button-prev {
      @include adaptiveValue("left", 60, 20,0,1440.98,480.98);
    }
    &.swiper-button-next {
      @include adaptiveValue("right", 60, 20,0,1440.98,480.98);
    }
    &.swiper-button-disabled {
      opacity: 0;
    }
    @media (any-hover: hover){
      &:hover{
        background-color: rgba(81, 255, 0, 0.3);
        svg,img {
          transform: scale(1.1);
        }
      }
    }
  }
}

.block-a-project {
  color: $black-800;
  &.bg-gray-200 {
    color: $black-800;
  }
  &.bg-black-800 {
    color: $gray-200;
  }

  // .block-a-project__container
  &__container {
  }
  // .block-a-project__txt
  &__txt {
    line-height: 1.3;
    text-transform: uppercase;
    @include adaptiveValue("font-size", 23, 15,0,1920.98,480.98);
    @media (min-width:$mobile){
       max-width: 38%;
       margin-left: auto; 
       margin-right: 5%;
       margin-bottom: toRem(32);
    }
    @media (max-width:$mobile){
       margin-bottom: toRem(70); 
    }
  }
  // .block-a-project__img
  &__img {
    img {
      display: block;
      margin-inline: auto;
      height: auto;
      @media (min-width:toEm(600.98)){
        width: 26%;
      }
      @media (max-width:toEm(600.98)){
        width: 40%;
      }
    }
  }
}


.block-b-project {
  @include adaptiveValue("padding-top", 80, 46,0,1440.98,480.98);
  @include adaptiveValue("padding-bottom", 80, 46,0,1440.98,480.98);
  &.bg-gray-200 {
    .block-b-project__left {
      background-color: $black-800;
      color: $gray-200;
      ul {
        li {
          &::before {
            background-color: $gray-200;
          }
        }
      }
    }
    .block-b-project__right {
      background-color: $black-800;
    }
  }
  &.bg-black-800 {
    .block-b-project__left {
      background-color: #fff;
      color: $black-800;
      ul {
        li {
          &::before {
            background-color: $black-800;
          }
        }
      }
    }
    .block-b-project__right {
      background-color: $gray-200;
    }
  }
  // .block-b-project__container
  &__container {
    display: grid;
    gap: toRem(26);
    @media (min-width:toEm(650.98)){
      grid-template-columns: repeat(2,1fr);
    }
  }
  // .block-b-project__left
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 1.3;
    @include adaptiveValue("padding", 80, 26,0,1920.98,480.98);
    @include adaptiveValue("font-size", 18, 16,0,1440.98,480.98);
    p, ul, ol {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 30,14,0,1920.98,480.98 );
      }
    }
    
    li {
      position: relative;
      @include adaptiveValue("padding-left", 20, 15,0,1920.98,480.98);
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 10,5,0,1920.98,480.98 );
      }
    }

    ul {
      li {
        &::before {
          content:'';
          position: absolute;
          aspect-ratio: 1/1;
          border-radius: 50%;
          top: toRem(6);
          // @include adaptiveValue("top", 6, 3,0,1920.98,480.98);
          @include adaptiveValue("left", 5, 2,0,1920.98,480.98);
          @include adaptiveValue("width", 6, 3,0,1920.98,480.98);
        }
      }
    }

    ol {
      @extend %listStyleNum;
    }
  }
  // .block-b-project__right
  &__right {
    position: relative;
  }
  // .block-b-project__cover
  &__cover {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 1/1;
    }
  }
  // .block-b-project__front
  &__front {
    &.img-width {
      img {
        width: 60%;
        height: auto;
      }
    }
    &.img-height {
      img {
        height: 49%;
        width: auto;
      }
    }
    
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}



.block-img-full-project {
	// .block-img-full-project__body
	&__body {
  }
  img {
    width: 100%;
    height: auto;
  }
}

[data-prlx-parent].block-img-full-project {
  overflow: hidden;
  img {
    transform: scale(1.1);
  }
}
.block-img-contain-project {
  // .block-img-contain-project__container
  &__container {
    img {
      display: block;
      width: 100%;
      height: auto;
      margin-inline: auto;
      @media (min-width:$mobileSmall){
        max-width: 70%;
      }
      @media (max-width:$mobileSmall){
        max-width: 98%;
      }
    }
  }
}


.video-project {
  // .video-project__container
  &__container {
  }
  // .video-project__body
  &__body {
    position: relative;
    max-width: 86%;
    margin-inline: auto;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 16/9;
    }
  }
  // .video-project__play
  &__play {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    aspect-ratio: 1;
    color: $black-800;
    transition: opacity .3s ease;
    @include adaptiveValue("width", 160, 75,0,1440.98,480.98);
    @include adaptiveValue("font-size", 18, 14,0,1440.98,480.98);
    span {
      display: inline-block;
      position: relative;
      z-index: 2;
    }
    &:before {
      content:'';
      position: absolute;
      z-index: 0;
      inset: 0;
      background-color: rgba(81, 255, 0, 0.63);
      border-radius: 50%;
      border: toRem(2) solid $neon-green;
      transform-origin: 50% 50%;
      transition: transform .4s ease;
      @media (max-width:$mobileSmall){
         border-width: toRem(1); 
      }
    }
    @media (any-hover: hover){
      &:hover{
        &::before {
          transform: scale(1.1);
        }
      }
    }
    ._play & {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.team-project {
  background-color: $neon-green;
  color: $black-800;
  line-height: 1.3;
  @include adaptiveValue("font-size", 38, 20,0,1920.98,480.98);
  h2 {
    font-weight: 500;
    @include adaptiveValue("margin-bottom", 55, 20,0,1440.98,480.98);
  }
  // .team-project__container
  &__container {
    display: grid;
    gap: toRem(30);
    @media (min-width:toEm(700.98)){
      grid-template-columns: 30% 1fr;
    }
  }
  // .team-project__left
  &__left {
  }
  // .team-project__right
  &__right {
  }
  // .team-project__kama
  &__kama {
    text-transform: uppercase;
    span {
      @include adaptiveValue("font-size", 30, 16,0,1920.98,480.98);
    }
    @include adaptiveValue("margin-top", 140, 80,0,1440.98,480.98);
    @media (min-width:$mobileSmall){
      text-align: right;
    }
  }
}
